//FONTS

$primary-font: 'Gelion Regular', serif;


//colorrs

$charcoal: #29353d;

$marine:#1c366b;
$violet:#581845;
$jorgovan:rgba(160, 168,220,.8);
$ciklama:#900C3F;
$pink:#C70039;
$blue:#3FA9F5;
$white:#FFFFFF;
$black: #000000;

$royal:#141f39;
